* {
  max-width: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  color: white;
}

main header {
  background: black;
  padding: 1em;
}

h1 {
  margin: 0;
}

.tasks,
.subtasks {
  /* display */
  /* positioning */
  /* box-model */
  background: #666;
  margin: 0;
  padding: 0;

  /* typography */
  /* manipulation */

  /* misc */
  list-style: none;
}

.task-preview {
  /* display */
  display: flex;
  flex-flow: row nowrap;
  column-gap: 0.5em;
  align-items: center;

  /* positioning */
  /* box-model */
  /* typography */
  font-size: 1.5em;
  /* manipulation */
  /* misc */
}

.task-preview {
  padding: 0.5em;
}

.task-preview > * {
  flex: 0 0 auto;
}

.task-preview .task-check {
  height: 2em;
  width: 2em;
}

.task-preview .task-name {
  /* display */
  flex: 1 0 10ch;

  /* positioning */
  /* box-model */
  background: transparent;
  border: none;
  border-bottom: 1px solid white;

  /* typography */
  font-size: inherit;
  /* manipulation */
  /* misc */
}

.task-preview .task-name:focus {
  /* Bubble? */
  color: gold;
  outline: none;
  border-bottom: 2px solid currentColor;
}

.task-preview .chip {
  display: none;
}

.task-preview .chip * {
  display: none;
  background: transparent;
  border: none;
  width: max-content;
}

.task-preview .chip .task-due-date {
  display: inline-block;
  font-family: inherit;
  font-size: 0.75em;
}

.task.has-due-date > .task-preview > .due-date-chip {
  /* display */
  display: flex;
  flex-direction: row nowrap;
  align-items: center;
  column-gap: 0.25em;

  /* positioning */
  /* box-model */
  background: gold;
  border-radius: 1em;
  padding: 0.25em 0.5em;

  /* typography */
  color: black;

  /* manipulation */
  /* misc */
}

.task.has-reminder > .task-preview > .due-date-chip .notif-indicator {
  display: inline-block;
}

.task.is-recurring > .task-preview > .due-date-chip .recurring-indicator {
  display: inline-block;
}

.task-preview .task-more {
  background: transparent;
  border: none;
  padding: 0;
  color: inherit;
}
